@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Gem.WebApp.Models.RegistrationModel
@{
    ViewData["Title"] = "Registration";
}

<div class="logo-container">
    <img class="logo" src="~/gem-logo.png" alt="logo" />
</div>
<div class="registration-container">
    @using (Html.BeginForm("Registration", "Account", FormMethod.Post))
    {
        @if (ViewBag.Message != null)
        {
            <label class = "text-danger">@ViewBag.Message</label>
        }
        <br />

        @Html.LabelFor(a => a.FirstName)<text>*      </text>
        @Html.TextBoxFor(a => a.FirstName, null, new { @class = "form-control", placeholder="Enter First Name" })
        @Html.ValidationMessageFor(a => a.FirstName, "", new { @class = "text-danger"});        
        
        <br />
        @Html.LabelFor(a => a.MiddleName)<text>      </text>
        @Html.TextBoxFor(a => a.MiddleName, null, new { @class = "form-control smaller", placeholder="Enter Middle Name" })
        @Html.ValidationMessageFor(a => a.MiddleName, "", new { @class = "text-danger"});
        <br />

        @Html.LabelFor(a => a.LastName)<text>*      </text>  
        @Html.TextBoxFor(a => a.LastName, null, new { @class = "form-control", placeholder="Enter Last Name" })
        @Html.ValidationMessageFor(a => a.LastName, "", new { @class = "text-danger"});
               
        <br />
        @Html.LabelFor(a => a.Email)<text>*</text>        
        @Html.TextBoxFor(a => a.Email, null, new { @class = "form-control larger", placeholder="(me@example.com, max 50 characters)" })
        @Html.ValidationMessageFor(a => a.Email, "", new { @class = "text-danger"});

        <br />
        @Html.LabelFor(a => a.Password)<text>*      </text>
        @Html.TextBoxFor(a => a.Password, null, new { @class = "form-control", type = "password", placeholder="(8-18 characters long)" })
        @Html.ValidationMessageFor(a => a.Password, "", new { @class = "text-danger"});
        
        <br />
        @Html.LabelFor(a => a.ConfirmPassword)<text>*  </text>
        @Html.TextBoxFor(a => a.ConfirmPassword, null, new { @class = "form-control", type = "password", placeholder="Confirm Your Password" })
        @Html.ValidationMessageFor(a => a.ConfirmPassword, "", new { @class = "text-danger"});
        <br />
        
        <p class="star">* - mandatory fields</p>
        <input type="submit" value="Register" class="btn-primary" />
        <br/>
        <a class="input-button backlink" asp-area="" asp-controller="Account" asp-action="Login">Back to Login</a>
 
    }
</div>